  .axis path {
    display: none;
  }
  
  .x-axis line {
    stroke-opacity: .2;
  }
  
  .y-axis line {
    stroke-opacity: .2;
  }
  
  .y-axis line {
    stroke-width: 1;
  }

  .line {
    fill: none;
    stroke-opacity: 1;
    stroke-width: 1px;
  }


